* {
  text-decoration: none;
}
body {
  background: linear-gradient(rgb(35, 39, 41), rgb(0, 0, 0));
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background: rgb(39, 40, 43);
  border-radius: 4px;
  margin: 0;
  padding: 0;
  width: 50vw;
}
.banner {
  display: flex;
  background: rgb(0, 110, 255);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 15vw;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.banner p {
  color: rgb(97, 166, 255);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.pfp {
  display: flex;
  background: rgb(39, 40, 43);
  position: absolute;
  justify-self: center;
  border-radius: 519px;
  height: 15vw;
  width: 15vw;
  margin-top: 7vw;
  margin-inline: 1vw;
}
.pfp img {
  border-radius: 519px;
  margin: auto;
}
.main {
  display: grid;
}
.side {
  justify-self: right;
  width: 32vw;
  margin-top: 1vw;
  margin-inline: 1vw;
}
.sidecontents {
  display: flex;
  background: linear-gradient(rgb(26, 27, 29), rgb(41, 43, 46));
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-family: inherit;
  font-size: 2vw;
  font-style: inherit;
  font-weight: inherit;
  color: white;
  height: 4vw;
  padding-block: 1vw;
  padding-inline: 1vw;
}
.sidecontents span {
  font-size: 3.5vw;
  color: rgb(118, 178, 255);
}
.sidecontents p {
  font-size: 1vw;
  margin-left: 1vw;
  margin-top: 2.4vw;
  color: rgb(165, 165, 165);
}
.contents {
  background:rgb(41, 43, 46);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-inline: 1vw;
  margin-bottom: 1vw;
  font-family: inherit;
  font-size: 2vw;
  font-style: inherit;
  font-weight: inherit;
  color: white;
  padding: 0.5vw;
  font-size: 1vw;
}
.button {
  display: flex;
  flex-direction: row;
  background:rgb(60, 64, 68);
  border-radius: 519px;
  padding: 0.5vw;
  align-items: center;
  margin-block: 1vw;
}
a .button p {
  margin-top: 0vw;
  font-size: 2.5vw;
  margin-inline: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.icon {
  display: flex;
  background: rgb(255, 255, 255);
  justify-self: center;
  border-radius: 519px;
  height: 8vw;
  width: 8vw;
  margin-inline: 1vw;
}
.icon img {
  margin: auto;
}
.button:hover {
  background:rgb(75, 80, 85);
}
.stats {
  background:rgb(47, 50, 53);
  border-radius: 4px;
  padding: 1vw;
  margin: 0.3vw;
}
.stats p {
  margin: 0px;
  font-size: 1vw;
  color: rgb(209, 209, 209)
}
.stats h1 {
  margin-block: 1vw;
  font-size: 2.5vw;
  font-family: monospace;
  color: rgb(159, 201, 255);
}
.stats h2 {
  margin-block: 1vw;
  font-size: 2vw;
  font-family: monospace;
  color: rgb(159, 201, 255);
}
.stats span {
  margin: 0px;
  font-size: 1vw;
  font-family: monospace;
  color: rgb(165, 165, 165);
}
.stats p strong {
  color: white;
}