body {
  background: rgb(35, 39, 41);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
div p {
  color: white;
  font: bolder;
  font-size: 4vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}